<div style="padding:auto; margin:10%">0
    <div layout="column" layout-align="center center" style="padding:20px;">
        <img src="https://lh5.googleusercontent.com/bnGSC3rFs-oKRWBdq9axx7BFUllfroSj3ndGSq79_DoBH8LcMIIfmr07yWWItSSl5axe_krle1TmYb4=w1402-h861" height="125" width="140">
    </div>
    <div layout="column" class="md-whiteframe-z1 webkit-border-top-radius">
        <md-toolbar class="webkit-border-top-radius">
            <div class="md-toolbar-tools">
                <h2>
                    <span>Seja bem-vindo!</span>
                </h2>
                <span flex></span>
                <md-button ng-click="login(email, pass)"><i class="fa fa-sign-in"></i> &nbsp;<b>Entrar</b></md-button>
            </div>
        </md-toolbar>
        <div layout="column">
            <md-input-container layout-padding flex>
                <label><i class="fa fa-envelope-o"></i> E-mail</label>
                <input ng-model="email" type="email">
            </md-input-container>
            <md-input-container layout-padding flex>
                <label><i class="fa fa-key"> Senha</i></label>
                <input ng-model="pass" type="password">
            </md-input-container>
        </div>
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                <md-button class="md-primary"><i class="fa fa-exclamation-triangle"></i> &nbsp;<b>Esqueci a Senha</b></md-button>
                <span flex></span>
                <md-button class="md-primary" ng-click="login(email, pass)"><i class="fa fa-sign-in"></i> &nbsp;<b>Entrar</b></md-button>
            </div>
        </md-toolbar>
    </div>
</div>
